<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjianhao.album">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".AppContext"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.zjianhao.ui.LocalAlbum"/>
        <activity android:name="com.zjianhao.ui.LocalAlbumDetail"/>
        <activity android:name="com.zjianhao.ui.AlbumDetailAty"/>
        <activity android:name="com.zjianhao.ui.PhotoDetailAty"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity android:name="com.zjianhao.ui.AdvancedSearchAty"
            android:windowSoftInputMode="adjustResize"

            />
        <activity android:name="com.zjianhao.ui.AmbigiousSearchAty"

            />

        <activity android:name="com.zjianhao.ui.PhotoInfoAty"/>
    </application>

</manifest>